<ActionBar>
  <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
  <NavigationButton
    ios:visibility="collapsed"
    icon="res://menu"
    (tap)="onDrawerButtonTap()"
  ></NavigationButton>
  <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
  <ActionItem
    icon="res://menu"
    android:visibility="collapsed"
    (tap)="onDrawerButtonTap()"
    ios.position="left"
  >
  </ActionItem>
  <Label text="Home"></Label>
</ActionBar>

<StackLayout class="page__content">
  <Label
    text="<!-- Test libraries using Nativescript 7 -->"
  ></Label>

  <Button style="color: red" (tap)="onExitTapped()" text="Exit app"></Button>

  <Button
    style="color: black"
    (tap)="onShowToastMessage()"
    text="Show toast message"
    style="margin-bottom: 20"
  ></Button>

  <Button
    text="PLAY NOW"
    marginTop="20"
    horizontalAlignment="left"
    class="bg-color-primary bold glow-shadow"
    padding="15 0"
    width="150"
    color="#fff"
    fontSize="14"
    style="color:black; box-shadow: 0 0 25px rgba(0, 0, 0, 0.8)"
  ></Button>

  <!-- <SVGImage src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSerif-Bold.svg" width="256" height="256"></SVGImage> -->

  <!-- <CanvasView width="100" height="100" (draw)="draw($event)"></CanvasView> -->

  <Highcharts options="{{ chartOptionsString }}"></Highcharts>
</StackLayout>
